@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}

.m-10 {
  margin: 2.5rem;
}

.m-11 {
  margin: 2.75rem;
}

.m-12 {
  margin: 3rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.ml-12 {
  margin-left: 3rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.mr-12 {
  margin-right: 3rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-11 {
  padding: 2.75rem;
}

.p-12 {
  padding: 3rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-12 {
  padding-right: 3rem;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

* {
  font-family: "Winky Rough", sans-serif;
}

body {
  background-color: #CBF3F0;
  margin: 0;
  margin-top: 4.5rem;
}

main {
  min-height: calc(100vh - (6.5rem + 64px));
}

a {
  color: unset;
  text-decoration: none;
}

h1, h3 {
  margin: 0;
}

.footer__container {
  background-color: #edc690;
  margin-top: 2rem;
  height: 64px;
}
.footer__container .footer__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .footer__container .footer__wrapp {
    flex-direction: column;
  }
}
.footer__container .footer__wrapp .footer__socialmedia-links {
  color: #111;
}
.footer__container .footer__wrapp .footer__socialmedia-links:not(:first-child) {
  margin-left: 1.5rem;
}
@media screen and (max-width: 576px) {
  .footer__container .footer__wrapp .footer__socialmedia-links {
    margin: 1rem 0;
  }
}
.footer__container .footer__wrapp .footer__socialmedia-links i {
  font-size: 1.5rem;
}
.footer__container .footer__wrapp .footer__socialmedia-links:hover {
  color: #fa9304;
}

.container {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 0) {
  .container {
    max-width: 360px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 520px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 880px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
@media screen and (max-width: 576px) {
  .grid {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media screen and (min-width: 0) {
  .col-xs-1 {
    grid-column: span 1;
  }
}

@media screen and (min-width: 0) {
  .col-xs-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 0) {
  .col-xs-3 {
    grid-column: span 3;
  }
}

@media screen and (min-width: 0) {
  .col-xs-4 {
    grid-column: span 4;
  }
}

@media screen and (min-width: 0) {
  .col-xs-5 {
    grid-column: span 5;
  }
}

@media screen and (min-width: 0) {
  .col-xs-6 {
    grid-column: span 6;
  }
}

@media screen and (min-width: 0) {
  .col-xs-7 {
    grid-column: span 7;
  }
}

@media screen and (min-width: 0) {
  .col-xs-8 {
    grid-column: span 8;
  }
}

@media screen and (min-width: 0) {
  .col-xs-9 {
    grid-column: span 9;
  }
}

@media screen and (min-width: 0) {
  .col-xs-10 {
    grid-column: span 10;
  }
}

@media screen and (min-width: 0) {
  .col-xs-11 {
    grid-column: span 11;
  }
}

@media screen and (min-width: 0) {
  .col-xs-12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    grid-column: span 1;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-3 {
    grid-column: span 3;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-4 {
    grid-column: span 4;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-5 {
    grid-column: span 5;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-6 {
    grid-column: span 6;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-7 {
    grid-column: span 7;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-8 {
    grid-column: span 8;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-9 {
    grid-column: span 9;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-10 {
    grid-column: span 10;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-11 {
    grid-column: span 11;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }
}

@media screen and (min-width: 768px) {
  .col-md-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 768px) {
  .col-md-3 {
    grid-column: span 3;
  }
}

@media screen and (min-width: 768px) {
  .col-md-4 {
    grid-column: span 4;
  }
}

@media screen and (min-width: 768px) {
  .col-md-5 {
    grid-column: span 5;
  }
}

@media screen and (min-width: 768px) {
  .col-md-6 {
    grid-column: span 6;
  }
}

@media screen and (min-width: 768px) {
  .col-md-7 {
    grid-column: span 7;
  }
}

@media screen and (min-width: 768px) {
  .col-md-8 {
    grid-column: span 8;
  }
}

@media screen and (min-width: 768px) {
  .col-md-9 {
    grid-column: span 9;
  }
}

@media screen and (min-width: 768px) {
  .col-md-10 {
    grid-column: span 10;
  }
}

@media screen and (min-width: 768px) {
  .col-md-11 {
    grid-column: span 11;
  }
}

@media screen and (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    grid-column: span 1;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-3 {
    grid-column: span 3;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-4 {
    grid-column: span 4;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-5 {
    grid-column: span 5;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-6 {
    grid-column: span 6;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-7 {
    grid-column: span 7;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-8 {
    grid-column: span 8;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-9 {
    grid-column: span 9;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-10 {
    grid-column: span 10;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-11 {
    grid-column: span 11;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    grid-column: span 1;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-3 {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-4 {
    grid-column: span 4;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-5 {
    grid-column: span 5;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-6 {
    grid-column: span 6;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-7 {
    grid-column: span 7;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-8 {
    grid-column: span 8;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-9 {
    grid-column: span 9;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-10 {
    grid-column: span 10;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-11 {
    grid-column: span 11;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    grid-column: span 1;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-3 {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-4 {
    grid-column: span 4;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-5 {
    grid-column: span 5;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-6 {
    grid-column: span 6;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-7 {
    grid-column: span 7;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-8 {
    grid-column: span 8;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-9 {
    grid-column: span 9;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-10 {
    grid-column: span 10;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-11 {
    grid-column: span 11;
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-12 {
    grid-column: span 12;
  }
}

.menu__container {
  display: none;
}
.menu__container-visible {
  background-color: #16a395;
  box-shadow: 2px 2px 8px 8px #CBF3F0;
  display: block;
  height: calc(100vh - 4.5rem);
  left: 0;
  position: fixed;
  padding-right: 1rem;
  width: 12rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu__container-visible {
    display: none;
  }
}
.menu__container-visible .menu__navigation ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.menu__container-visible .menu__navigation ul li {
  list-style: none;
}
.menu__container-visible .menu__navigation ul li a {
  text-decoration: none;
  color: #edebeb;
}
.menu__container-visible .menu__navigation ul li a:hover {
  color: #fa9304;
}
.menu__container-visible .menu__navigation ul li a:visited {
  color: #edc690;
}

.navbar__container {
  align-items: center;
  background-color: #16a395;
  box-shadow: 2px 2px 8px 1px #f4e1c5;
  display: flex;
  min-height: 4.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.navbar__container .navbar__navigation ul {
  display: flex;
  gap: 1rem;
}
.navbar__container .navbar__navigation ul li {
  list-style: none;
}
.navbar__container .navbar__navigation ul li a {
  text-decoration: none;
  color: #edebeb;
}
.navbar__container .navbar__navigation ul li a:hover {
  color: #fa9304;
  cursor: pointer;
}
.navbar__container .navbar__navigation ul li a:visited {
  color: #edc690;
}
@media screen and (max-width: 768px) {
  .navbar__container .navbar__navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar__container .navbar__menu-button {
    display: none;
  }
}

.btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.btn__primary {
  background-color: #fba93e;
  color: #edebeb;
  border: 2px solid #fa9304;
}
.btn__primary svg {
  width: 1rem;
  fill: #edebeb;
}
.btn__primary:hover {
  background-color: #fa9304;
}
.btn__primary-outline {
  background-color: transparent;
  color: #fba93e;
  border: 2px solid #fba93e;
}
.btn__primary-outline svg {
  width: 1rem;
  fill: #fba93e;
}
.btn__primary-outline:hover {
  color: #fa9304;
  border-color: #fa9304;
}
.btn__secondary {
  background-color: #2EC4B6;
  color: #edebeb;
  border: 2px solid #16a395;
}
.btn__secondary svg {
  width: 1rem;
  fill: #edebeb;
}
.btn__secondary:hover {
  background-color: #16a395;
}
.btn__secondary-outline {
  background-color: transparent;
  color: #2EC4B6;
  border: 2px solid #2EC4B6;
}
.btn__secondary-outline svg {
  width: 1rem;
  fill: #2EC4B6;
}
.btn__secondary-outline:hover {
  color: #16a395;
  border-color: #16a395;
}

.card {
  display: flex;
  border-radius: 0.5rem;
  background-color: #f4e1c5;
  border: 2px solid #fa9304;
  min-height: 10rem;
}
.card img {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 10rem;
}

.form__container .form__input-group {
  margin-bottom: 0.5rem;
}
.form__container .form__input-group .form__label {
  display: block;
}
.form__container .form__input-group .form__label[required]::after {
  content: " (*)";
  color: #d02121;
}
.form__container .form__input-group .form__input {
  background-color: #CBF3F0;
  border: 2px solid #fa9304;
  border-radius: 0.5rem;
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: calc(100% - 1.25rem);
}
.form__container .form__input-group .form__input[type=checkbox] {
  display: flex;
  width: 2rem;
  margin-top: 0;
}
.form__container .form__input-group .form__input.with-error {
  border-color: #d02121;
}
.form__container .form__input-group .form__input:focus-visible {
  outline-color: #16a395;
}
.form__container .form__input-group .form__error {
  color: #d02121;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.form__container .form__submit {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}/*# sourceMappingURL=main.css.map */