
.card {
    display: flex;
    border-radius: 0.5rem;
    background-color: $superlight-primary-color;
    border: 2px solid $strong-primary-color;
    min-height: 10rem;
    img {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        height: 10rem;
    }
}