
body {
    background-color: $body-bg-color;
    margin: 0;
    margin-top: 4.5rem;
    // margin: 4.5rem 0;
}

main {
    min-height: calc(100vh - (4.5rem + 2rem + 64px));
}

a {
    color: unset;
    text-decoration: none;
}

h1, h3 {
    margin: 0;
}